{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [lab3]}
]}.

{escript_main_app, lab3}.
{escript_incl_apps, []}.
{escript_emu_args, "%%! -smp enable\n"}.

{plugins, [rebar3_proper, rebar3_format]}.

{dialyzer,
 [{flags,
   ["-Werror_handling",
    "-Wunmatched_returns",
    "-Wunderspecs",
    "-Wspecdiffs",
    "-Woverspecs",
    "-Werror"]},
  {plt_extra_apps, []}]}.